@font-face {
    font-family: Sora;
    src: url(./../Fonts/Sora-Regular.ttf);   
}
@font-face {
    font-family: Sora2;
    src:url(../Fonts/Sora-ExtraLight.ttf);
}
@font-face {
    font-family: Sora5;
    src: url(../Fonts/Sora-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    font-family: "Sora";
}

a{
    color: rgb(255, 255, 255);
    font-family: "Sora2";
} 
a:hover{
    font-family: "Sora5";
}
h1{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    font-family: "Sora2";
    color: rgb(137, 137, 137);
}
.cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.circulo{ 
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(204,236,249);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -9px -5px 10px -3px rgba(83, 83, 83, 0.83);
}
.circulo p{
    font-size: 20px;
    color: rgb(139, 171, 184);   
}
.circulo b{
    font-size: 35px;
    color: rgb(114, 206, 253);
}
.table{
    font-size: 22px;
    color: rgb(131, 131, 131);
    margin-bottom: 100px;
    
}
.cabecera-tabla b{
    font-size: 1.4rem;
}
.cuerpo-tabla{
    text-align: center;
}
.cuerpo-tabla tr:nth-child(1){
    color:rgb(114, 206, 253);
}
@media screen and (max-width: 600px) {
    .circulo{
        width: 300px;
        height: 300px;
    }
    .table{
        font-size: 17px;
    }
}

